:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card {
  border: none;
  * {
    border: none;
  }
  .card-status-container {

    position: absolute;
    overflow: hidden;
    transform: rotate(-90deg);
    transition: transform 0.5s ease 0s;

    top: 20%;
    height: 22px;
    width: 22px;
    right: 20px;

    .card-status {
      position: relative;
      font-size: 42px;
      top: -21px;
      left: -5px;
    }
  }
}

.page-content {
  flex: 1;
  overflow: auto;
}
