<div class="main bg-info">

    <!--
      Heading: Eg: Question No. 1, Instructions, Questions
    -->
    <div class="bg-primary text-white p-2 pl-3 w-100 position-absolute d-flex"
      style="top:0;left: 0;">
      <!-- main heading -->
      <span class="m-auto">
          Instructions
      </span>
     
    </div>
    

    <div class="page-content">
  
       <div class="d-flex justify-content-center" style="padding-top: 13rem">
        <div class="bg-danger text-white p-5">
          Error receiving data.
        </div>
      </div> 
  
    </div>
  
    <!--
      page footer. basically contains buttons.
    -->
  
    <div class="d-flex p-3 position-absolute w-100 bg-primary border-top"
      style="bottom:0; left: 0;">

      <button type="button"
        class="btn btn-sm btn-secondary m-auto"
        (click)="closeTheComponent()"
      >
      Back</button>

    </div>
  
  
  </div>
  