<div class="main bg-info">

    <!--
      Heading: Eg: Question No. 1, Instructions, Questions
    -->
    <div class="bg-primary text-white p-2 pl-3 w-100 d-flex">
      <!-- main heading -->
      <span class="m-auto">
          Instructions
      </span>
     
    </div>
    

    <div class="page-content py-3 px-2">
  
      Hi there
  
    </div>
  
    <!--
      page footer. basically contains buttons.
    -->
  
    <div class="d-flex p-3 w-100 bg-primary border-top border-primary">

      <button type="button"
        class="btn btn-sm btn-secondary m-auto"
        (click)="closeTheComponent()"
      >
      Back</button>

    </div>
  
  
  </div>
  