<h4 class="header py-4">
  {{ pageTitle }}
</h4>

<div #pageContent class="page-content">
  <form class="bg-primary form-container" [formGroup]="form">
    <!--content-->
    <div class="input-container flex-column">
      <label for="content">Content</label>
      <input
        class="input-field bg-info"
        type="text"
        placeholder="content"
        name="content"
        formControlName="content"
        autocomplete="off"
      />
    </div>
    <!--Image-->
    <div class="input-container flex-column">
      <label for="image">Image Url/Base64 <small>(?)</small></label>
      <input
        class="input-field bg-info"
        type="text"
        placeholder="image"
        name="image"
        formControlName="image"
        autocomplete="off"
      />
    </div>

    <!-- <div
      *ngIf="title.errors && (title.dirty || title.touched)"
      class="input-error"
    >
      Title is required.
    </div> -->

    <!--Marks-->
    <div class="input-container flex-column">
      <label for="marks">Marks<small>(?)</small></label>
      <div>
        <input
          class="input-field bg-info"
          type="text"
          placeholder="number"
          name="marks"
          formControlName="marks"
          autocomplete="off"
          style="max-width: 150px;"
        />
      </div>
    </div>
    <div
      *ngIf="marks.errors && (marks.dirty || marks.touched)"
      class="input-error"
    >
      Value should be a number.
    </div>

    <!--test-->
    <div class="input-container flex-column">
      <label for="test">Add Test <small>(?)</small></label>
      <!--input test ID-->
      <div>
        <input
          class="input-field bg-info"
          type="text"
          placeholder="test"
          name="test"
          autocomplete="off"
          style="max-width: 235px;"
          #testID
          (keyup)="(0)"
        />
        <button
          type="button"
          class="btn btn-secondary ml-2 btn-sm"
          (click)="addTest(testID)"
          [disabled]="testID.value ? false : true"
        >
          Add
        </button>
      </div>
    </div>
    <div *ngIf="testAddError" class="input-error">
      {{ testAddError }}
    </div>

    <!-- Test Ready (i think it should be shown when editing test)-->
    <div class="input-container">
      <label class="mr-4">Is comprehension?</label>
      <!--radio buttons-->
      <div class="custom-control custom-radio mx-2">
        <input
          type="radio"
          name="isComprehension"
          [value]="true"
          id="isComprehensionYes"
          class="custom-control-input"
          formControlName="isComprehension"
        />
        <label class="custom-control-label" for="isComprehensionYes">
          Yes
        </label>
      </div>
      <div class="custom-control custom-radio mx-2">
        <input
          type="radio"
          [value]="false"
          name="isComprehension"
          id="isComprehensionNo"
          class="custom-control-input"
          formControlName="isComprehension"
        />
        <label class="custom-control-label" for="isComprehensionNo">
          No
        </label>
      </div>
    </div>
    <!--comprehensionContent-->
    <div *ngIf="isComprehension.value" class="input-container flex-column">
      <label>Comprehension Content <small>(?)</small></label>
      <ckeditor
        [editor]="editor"
        (ready)="onReady($event)"
        [config]="editorConfig"
        class="border border-info"
        formControlName="comprehensionContent"
      >
      </ckeditor>
    </div>
    <!-- section -->
    <div class="input-container">
      <label>Section <small>(?)</small></label>
      <div class="col-auto dropdown d-inline-block">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [disabled]="sections.length ? false : true"
        >
          {{ selectedSection?.name }}
        </button>
        <div class="dropdown-menu">
          <span
            *ngFor="let sec of sections"
            class="dropdown-item"
            (click)="selectedSection = sec"
          >
            {{ sec.name }}
          </span>
        </div>
      </div>
    </div>

    <!--answers-->
    <div class="input-container flex-column">
      <label>Add mcqs<small>(?)</small></label>
      <!--input test ID-->
      <div class="d-flex align-items-baseline">
        <div class="mr-1">
          <input
            class="input-field bg-info mr-1"
            type="text"
            placeholder="section name"
            name="answer"
            autocomplete="off"
            style="max-width: 235px;"
            formControlName="answer"
          />
        </div>
        <button
          type="button"
          class="btn btn-secondary ml-2 btn-sm"
          (click)="addAnswer()"
          [disabled]="answer.errors ? true : false"
        >
          Add
        </button>
      </div>
      <!--Added test ID's container-->
      <div
        formArrayName="answers"
        *ngIf="sections.length"
        class="my-2 pl-2 overflow-auto"
        style="max-height: 200px"
      >
        <div
          *ngFor="let ctr of answers.controls; let i = index"
          class="row nik-gradient no-gutters mb-1"
        >
          <div class="col overflow-hidden text-truncate">
            <div class="d-flex flex-column">
              <div class="col-auto">
                <input
                  class="input-field bg-transparent"
                  type="text"
                  autocomplete="off"
                  [formControlName]="i"
                />
              </div>
              <div *ngIf="ctr.errors" class="input-error">
                Value cannot be empty
              </div>
            </div>
          </div>
          <div class="col-auto p-1">
            <button
              type="button"
              class="btn btn-danger btn-sm mr-2"
              (click)="removeAnswer(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        id="submit-btn"
        type="submit"
        class="btn btn-secondary"
        [disabled]="form.invalid"
        (click)="(false)"
        *ngIf="!submitting"
      >
        Submit
      </button>
      <div *ngIf="submitting" class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="backendError" class="input-error" style="margin-top: 15px;">
      <pre>{{ backendError }}</pre>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
