<h4 class="header py-4" *ngIf="displayHeader">
  {{ pageTitle }}
</h4>

<div #pageContent class="page-content">
  <form class="bg-primary form-container" [formGroup]="form">
    <!--content-->
    <div class="input-container flex-column">
      <label for="content">Content</label>
      <textarea
        class="input-field bg-info"
        type="text"
        placeholder="content"
        name="content"
        formControlName="content"
        rows="2"
      ></textarea>
    </div>

    <!--Image-->
    <div class="input-container flex-column">
      <label for="image">Image Url <small>(?)</small></label>
      <input
      class="input-field bg-info col"
      type="text"
      placeholder="image"
      name="image"
      autocomplete="off"
      formControlName="image"
    />      
      <ng-container *ngIf="!imageProcessing && !image.value; else clearImage">
        <input
          type="file"
          name="file"
          (change)="encodeImage($event)"
          [accept]="imageAccept"
        />
      </ng-container>
      <ng-template #clearImage>
        <div class="mb-1">
          <img [src]="image.value" class="image" *ngIf="image.value" />
        </div>
        <button
          type="button"
          *ngIf="!imageProcessing && image.value.includes(configData.globalConfig.imageRequestUrl)"
          class="btn btn-sm btn-secondary align-self-start"
          (click)="removeImage()"
        >
          Remove
        </button>
      </ng-template>
    </div>
    <div *ngIf="imageProcessing" class="spinner-grow text-secondary mb-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="imageError" class="input-error">{{ imageError }}</div>

    <!-- <div
      *ngIf="title.errors && (title.dirty || title.touched)"
      class="input-error"
    >
      Title is required.
    </div> -->

    <!--Marks-->
    <div class="input-container flex-column">
      <label for="marks">Marks<small>(?)</small></label>
      <div>
        <input
          class="input-field bg-info"
          type="text"
          placeholder="number"
          name="marks"
          formControlName="marks"
          autocomplete="off"
          style="max-width: 150px;"
        />
      </div>
    </div>
    <div
      *ngIf="marks.errors && (marks.dirty || marks.touched)"
      class="input-error"
    >
      Value should be a number.
    </div>

    <!-- isComprehension -->
    <div class="input-container">
      <label class="mr-4">Is comprehension?</label>
      <!--radio buttons-->
      <div class="custom-control custom-radio mx-2">
        <input
          type="radio"
          name="isComprehension"
          [value]="true"
          [id]="'isComprehensionYes'+qNo"     
          class="custom-control-input"
          formControlName="isComprehension"
        />
        <label class="custom-control-label" [attr.for]="'isComprehensionYes'+qNo">
          Yes
        </label>
      </div>
      <div class="custom-control custom-radio mx-2">
        <input
          type="radio"
          [value]="false"
          name="isComprehension"
          [id]="'isComprehensionNo'+qNo"
          class="custom-control-input"
          formControlName="isComprehension"
        />
        <label class="custom-control-label" [attr.for]="'isComprehensionNo'+qNo">
          No
        </label>
      </div>
    </div>

    <!--comprehensionContent-->
    <div *ngIf="isComprehension.value" class="input-container flex-column">
      <label>Comprehension Content <small>(?)</small></label>
      <ckeditor
        [editor]="editor"
        (ready)="onReady($event)"
        [config]="editorConfig"
        class="border border-info"
        formControlName="comprehensionContent"
      >
      </ckeditor>
    </div>

    <!-- section -->
    <div class="input-container">
      <label>Section <small>(?)</small></label>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [disabled]="sections.length ? false : true"
          >
            {{ selectedSection?.name }}
          </button>
          <div class="dropdown-menu">
            <span
              *ngFor="let sec of sections"
              class="dropdown-item"
              (click)="selectedSection = sec"
            >
              {{ sec.name }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!--answers-->
    <div class="input-container flex-column">
      <label>Add mcqs<small>(?)</small></label>
      <!--input answer-->
      <div class="d-flex align-items-baseline">
        <div class="mr-1 w-100">
          <input
            class="input-field bg-info mr-1"
            type="text"
            placeholder="mcq"
            name="answer"
            autocomplete="off"
            style="max-width: 100%;"
            formControlName="answer"
          />
        </div>
        <button
          type="button"
          class="btn btn-secondary ml-2 btn-sm"
          appDebounceClick 
          (debounceClick)="addAnswer()" [debounceTime]="500"
          [disabled]="answer.value ? false : true"
        >
          Add
        </button>
      </div>
      <!--Added answers container-->
      <div
        formArrayName="answers"
        class="my-2 pl-2 overflow-auto"
        style="max-height: 200px"
      >
        <div
          *ngFor="let ctr of answers.controls; let i = index"
          class="row nik-gradient no-gutters mb-1"
        >
          <div class="col overflow-hidden text-truncate">
            <div class="d-flex flex-column">
              <div class="col-auto">
                <input
                  class="input-field bg-transparent"
                  type="text"
                  autocomplete="off"
                  [formControlName]="i"
                />
              </div>
              <div *ngIf="ctr.errors" class="input-error">
                Value cannot be empty
              </div>
            </div>
          </div>
          <div class="col-auto p-1">
            <button
              type="button"
              class="btn btn-danger btn-sm mr-2"
              (click)="removeAnswer(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        id="submit-btn"
        [type]="saveMode ? 'button' : 'submit'"
        class="btn btn-secondary mr-2"
        [disabled]="form.invalid"
        (click)="submit()"
        *ngIf="!submitting"
      >
        {{ saveMode ? "Save" : "Submit" }}
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="remove()"
        *ngIf=" question && !submitting"
      >
        Remove
      </button>   
      <div *ngIf="submitting" class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="backendError" class="input-error" style="margin-top: 15px;">
      <pre>{{ backendError }}</pre>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
