/*
  Purpose:
    badges you click on side. Red purple green grey colored they are.
  usage:
    <span class="mcq-question-badge badge rounded-circle m-1 badge-primary"></span>
*/

.mcq-question-badge {
  font-size: 1rem;
  width: 44px;
  height: 44px;
  padding-top: 14px;
}
/*
  Purpose:
    small version of above. badges not in use. Just for information to user.
  usage:
    <span class="mcq-question-badge-small badge rounded-circle m-1 badge-danger">1</span
*/
.mcq-question-badge-small {
  width: 25px;
  height: 25px;
  padding-top: 6px !important;
}
