@import "../../../data/variables";

:host {
  min-height: 100%;

  //making app component re-usable
  // height: 100vh;

  position: relative;
  display: block;
}

.side-container {
  z-index: $z-side;
}

.main-container {
  &> .col {
    height: calc(100vh - #{ $navbar-height + $nav-height-sections});
  }
}

// .side {
//   $total-nav-height: $navbar-height + $nav-height-sections;
//   $side-bottom-height: 108px;

//   height: calc(100vh - #{$total-nav-height});
//   overflow: auto;
//   width: $side-width;

//   &-bottom {
//     height: $side-bottom-height;
//   }
//    {
//     height: calc(100vh - #{$total-nav-height + $side-bottom-height});
//   }
// }

.side {
  height: 100%;
  display: flex;
  flex-direction: column;

  #mcq-states {
    flex: 1;
    overflow: auto;
  }
}
