<div class="header bg-info py-4">
  <h1 class="mb-4">
    Completed Tests
  </h1>
  <p>
    Click to pop down details of particular test in given list of tests.
  </p>
</div>

<div class="accordion page-content bg-info" id="accordionTests">
  <div
    *ngFor="let test of tests; let i = index"
    class="card bg-primary border-bottom border-info rounded-sm"
  >
    <div
      class="card-header position-relative"
      id="heading{{ i }}"
      data-toggle="collapse"
      attr.data-target="#collapse{{ i }}"
      aria-expanded="false"
      attr.aria-controls="collapse{{ i }}"
      (click)="onCardHeaderCLick($event.currentTarget)"
    >
      <h6 class="mb-0 font-weight-bold">
        {{ test.name }}
      </h6>
      <div class="card-status-container">
        <span class="card-status">&larr;</span>
      </div>
    </div>
    <div
      id="collapse{{ i }}"
      class="collapse"
      attr.aria-labelledby="heading{{ i }}"
      data-parent="#accordionTests"
    >
      <div class="card-body bg-white text-dark">
        <p class="font-weight-bold">Intro</p>
        <p>{{ test.detail }}</p>

        <span class="p-1 px-2 bg-info d-inline-block mr-2 small rounded-sm"
          >Questions: {{ test.questions.length }}
        </span>
        <span class="p-1 px-2 bg-info d-inline-block mr-2 small rounded-sm"
          >Marks: {{ test.questions.marks }}</span
        >
        <span class="p-1 px-2 bg-info d-inline-block mr-2 small rounded-sm"
          >Time: {{ test.oTime | timer }}</span
        >
        <span class="p-1 px-2 bg-info d-inline-block mr-2 small rounded-sm"
          >Completed: {{ (test.oTime - test.time ) | timer }}</span
        >
        <hr>
        <ng-container *ngIf="getSections(test) as sections">
          <p class="font-weight-bold">Sections:</p>
          <ul>
            <li *ngFor="let section of sections">{{ section }}</li>
          </ul>
        </ng-container>

        <button [routerLink]="['/test', test._id]" class="btn btn-secondary">
          View Result
        </button>
      </div>
    </div>
  </div>
</div>
