@import '../../../../data/variables';

$mcq-page-image-max-width: 100%;
$mcq-page-image-max-height: 300px;
$mcq-page-image-margin: 25px 0;

.page-content {
    height: 100%;
    overflow: auto;
    padding: 16px !important;
    background: white !important;
    color: black !important;

    em{
        margin-bottom: 20px;
        display: block;
    }
    img {
        max-width: $mcq-page-image-max-width;
        max-height: $mcq-page-image-max-height;
        margin: $mcq-page-image-margin;
    }
}

