<!-- navbar -->
<nav class="navbar bg-primary navbar-expand-lg shadow">
  <!-- logo-->
  <a class="navbar-brand" [routerLink]="[configData.clientRoutes.login()]">
    <span id="nav-bar-logo">{{ configData.company.name }}</span>
  </a>
</nav>

<div class="row no-gutters">
  <div class="col page overflow-auto pt-5">
    <!--  onSubmit={this.onSubmit} -->
    <form class="bg-primary form-container" [formGroup]="form">
      <div class="slider">
        <div id="form-tab">
          <span
            class="text-secondary border-right border-info"
            [class.text-secondary]="submitBtnText == SignInState.signIn"
            (click)="setSignInState(SignInState.signIn)"
            >SignIn</span
          >
          <span
            class="text-secondary"
            [class.text-secondary]="submitBtnText == SignInState.signUp"
            (click)="setSignInState(SignInState.signUp)"
            >SignUp</span
          >
        </div>

        <ng-container *ngIf="submitBtnText == SignInState.signUp">
          <!--user-name-->
          <div class="input-container">
            <input
              class="input-field bg-info"
              type="text"
              placeholder="user name"
              name="usrnm"
              formControlName="userName"
            />
          </div>
          <div
            *ngIf="userName.errors && (userName.dirty || userName.touched)"
            class="input-error"
          >
            UserName is required.
          </div>
        </ng-container>

        <!--email-->
        <div class="input-container">
          <input
            class="input-field bg-info"
            type="text"
            placeholder="email"
            name="email"
            formControlName="email"
          />
        </div>
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
          <div
            *ngIf="email.errors.required"
            id="email-error"
            class="input-error"
          >
            Email is required.
          </div>
          <div
            *ngIf="!email.errors.required && email.errors.email"
            id="email-error"
            class="input-error"
          >
            Email is Incorrect
          </div>
        </ng-container>

        <div class="input-container">
          <input
            class="input-field bg-info"
            type="password"
            placeholder="password"
            name="psw"
            formControlName="psw"
          />
        </div>
        <div
          *ngIf="psw.errors && (psw.dirty || psw.touched)"
          id="password-error"
          class="input-error"
        >
          Password is required.
        </div>
        <ul
          *ngIf="psw.errors?.passSignUpValidator && (psw.dirty || psw.touched)"
          id="password-error"
          class="input-error"
        >
          <li>Length should between 8-20 characters</li>
          <li>Should contain atleast one lowercase and uppercase character</li>
          <li>Should contain atleast one special character</li>
        </ul>

        <div class="d-flex justify-content-center">
          <button
            id="submit-btn"
            type="submit"
            class="btn btn-secondary"
            [disabled]="form.invalid"
            (click)="submitBtnText==SignInState.signIn?login():register()"
            *ngIf="!loggingIn"
          >
            {{submitBtnText}}
          </button>
          <div
            *ngIf="loggingIn"
            class="spinner-grow text-secondary"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="backendError" class="input-error" style="margin-top: 15px;">
          {{ backendError }}
        </div>
      </div>
    </form>
  </div>
</div>
