
  <!--
      Heading: Eg: Question No. 1, Instructions, Questions
    -->
  <div class="bg-primary text-white p-2 pl-3 w-100 d-flex">
    <!-- main heading -->
    <span class="m-auto">
      Question Paper
    </span>
  </div>

  <!--
      Page content.
      Basically <MCQ component> should be placed inside here.
    -->
  <!-- suppressing error (dev only)-->
  <div class="page-content p-3">
    <ul class="list-unstyled">
      <li *ngFor="let question of questions; let i = index">
        <h4 class="my-4">{{
          test.sections[test.questions[question].section].qID == test.questions[question]._id ?
          test.questions[question].section : ''
        }}</h4>
        <p class="font-weight-bold mb-2">Q-No. {{ i + 1 }}
          <span class="font-weight-normal">[
            {{test.questions[question].marks?test.questions[question].marks+'M ':''}} 
            {{test.questions[question].isComprehension? 'Comprehension ':'' }}
            {{test.questions[question].image? 'Image':''}}
          ]</span>
        </p>
        <p class="ml-3" [innerHTML]="test.questions[question].content | safeStyle: 'dom'"></p>
      </li> 
    </ul>
  </div>
  <!--
      page footer. basically contains buttons.
    -->

  <div class="d-flex p-3 w-100 bg-primary border-top border-primary">
    <button
      type="button"
      class="btn btn-sm btn-secondary m-auto"
      (click)="closeTheComponent()"
    >
      Back
    </button>
  </div>

