<div class="overlay overlay-fixed overflow-auto">
  <div class="page bg-primary m-4 p-3">
    <button
      type="button"
      class="close text-secondary"
      aria-label="Close"
      style="font-size: 40px; outline: none"
      [routerLink]="['../']"
      replaceUrl
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="head p-2 d-flex align-content-center">
        <h3 class="mr-3 mb-0">Questions</h3>
        <button
         type="button"
         class="btn btn-secondary btn-sm"
         (click)="addNewQuestion = !addNewQuestion"
         >{{addNewQuestion?'Cancel':'Add'}}</button>
    </div>
    <div class="content">
      <app-question-editor
        *ngIf="addNewQuestion" [sections]="sections" (closeForm)="addNewQuestion = !addNewQuestion"
      ></app-question-editor>
    </div>
  </div>
</div>
