@import "../../../../data/mixins";
@import "../../../../data/variables";
:host {
  @include page-content;

  .page-content {
    border-top: 1px solid #001a39;
    border-top-right-radius: 5px;
    border-top-left-radius: 22px;
  }
}
.form-container {
  margin: 0px 10px;
  max-width: 100%;
}
label {
  font-size: 20px;
}
.nik-gradient{
  background: linear-gradient(45deg, $primary-bg-light 22%, $primary-bg-color 70%);
}