<h4 class="header py-4">
  {{ pageTitle }}
</h4>

<div #pageContent class="page-content">
  <form class="bg-primary form-container" [formGroup]="form">
    <!--Title-->
    <div class="input-container flex-column">
      <label for="title">Title</label>
      <input
        class="input-field bg-info"
        type="text"
        placeholder="title"
        name="title"
        formControlName="title"
        autocomplete="off"
      />
    </div>
    <div
      *ngIf="title.errors && (title.dirty || title.touched)"
      class="input-error"
    >
      Title is required.
    </div>
    <!--Image-->
    <div class="input-container flex-column">
      <label for="image">Image Url/Base64 <small>(?)</small></label>
      <input
        class="input-field bg-info"
        type="text"
        placeholder="image"
        name="image"
        formControlName="image"
        autocomplete="off"
      />
    </div>
    <!--instruction ID-->
    <div class="input-container flex-column">
      <label for="insID">Instruction ID <small>(?)</small></label>
      <!--input test ID-->
      <div>
        <input
          class="input-field bg-info"
          type="text"
          placeholder="instruction ID"
          name="insID"
          autocomplete="off"
          style="max-width: 235px;"
          formControlName="insID"
        />
        <button
          type="button"
          class="btn btn-secondary ml-2 btn-sm"
          (click)="addInstruction()"
          [disabled]="insID.value ? false : true"
        >
          Add
        </button>
      </div>
    </div>
    <div *ngIf="insAddError" class="input-error">
      {{ insAddError }}
    </div>
    <!--tests-->
    <div class="input-container flex-column">
      <label for="test">Add Tests <small>(?)</small></label>
      <!--input test ID-->
      <div>
        <input
          class="input-field bg-info"
          type="text"
          placeholder="test"
          name="test"
          autocomplete="off"
          style="max-width: 235px;"
          formControlName="testID"
        />
        <button
          type="button"
          class="btn btn-secondary ml-2 btn-sm"
          (click)="addTest()"
          [disabled]="testID.value ? false : true"
        >
          Add
        </button>
      </div>
      <!--Added test ID's container-->
      <div
        *ngIf="tests.length"
        class="my-2 pl-2 overflow-auto"
        style="max-height: 200px"
      >
        <div
          *ngFor="let test of tests"
          class="bg-info row nik-gradient no-gutters p-2 mb-1"
        >
          <div class="col p-1 overflow-hidden text-truncate">
            {{ test.name ? test.name : test._id }}
          </div>
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-danger btn-sm mr-2"
              (click)="removeTest(test._id)"
            >
              Remove
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              [routerLink]="[configData.adminRoutes.adminEditTest(test._id)]"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="testAddError" class="input-error">
      {{ testAddError }}
    </div>
    <!--Syllabus-->
    <div class="input-container flex-column">
      <label>Syllabus <small>(?)</small></label>
      <ckeditor
        [editor]="editor"
        (ready)="onReady($event)"
        [config]="editorConfig"
        class="border border-info"
        formControlName="syllabus"
      >
      </ckeditor>
    </div>

    <div class="d-flex justify-content-center">
      <button
        id="submit-btn"
        type="submit"
        class="btn btn-secondary"
        [disabled]="form.invalid"
        (click)="submit()"
        *ngIf="!submitting"
      >
        Submit
      </button>
      <div *ngIf="submitting" class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="backendError" class="input-error" style="margin-top: 15px;">
      <pre>{{ backendError }}</pre>
    </div>
  </form>
</div>

<!--Added test ID's container-->
<!-- <div
        *ngIf="tests.length"
        class="d-flex mb-4 flex-nowrap overflow-auto"
      >
        <div *ngFor="let test of tests" class="mr-2 d-inline-block bg-info p-3">
          <span class="mb-3 d-block">{{ test.name?test.name:test._id }}</span>
          <div>
            <button type="button" class="btn btn-danger btn-sm mr-2 mb-2" (click)="removeTest(test._id)">Remove</button>
            <button type="button" class="btn btn-secondary btn-sm mb-2"
              [routerLink]="[ configData.adminRoutes.adminEditTest(test._id)]"
            >View</button>  
          </div>
        </div>
      </div> -->
