<ng-container *ngIf="test">
  <!-- Heading: Eg: Question No. 1, Instructions, Questions -->
  <div class="main-top p-2 pl-3 w-100 d-flex bg-primary">
    <!-- main heading -->
    <span> Question No. {{ id ? questions.indexOf(id)+1 : "" }} </span>

    <div class="bg-info px-1 ml-auto bg-info">
      <small>Marks:</small>
      <span class="badge badge-success mr-1">{{ test.questions[id].marks }}</span>
      <span class="badge badge-danger">- 1</span>
    </div>
  </div>

  <div class="page-content">
    <app-mcq-page
      *ngIf="id && questions.length"
      [question]="test.questions[id]"
      (emit)="onEmit($event)"
    >
    </app-mcq-page>
  </div>

  <!-- page footer. basically contains buttons. -->
  <div class="main-bottom d-flex p-3  w-100 border-top border-primary bg-primary">
    <button type="button" class="btn btn-sm mr-2 bg-secondary" (click)="mark()">
      Mark Q & Next
    </button>
    <button
      type="button"
      class="btn btn-sm mr-2 bg-secondary"
      (click)="clear()"
    >
      Clear Response
    </button>
    <button
      type="button"
      class="btn btn-sm ml-auto bg-secondary"
      (click)="next()"
    >
      Next
    </button>
  </div>
</ng-container>
