@import "data/config";
@import "data/mixins";
@import "assets/scss/nikoscar.scss";
@import "assets/scss/amplitude-test.scss";
@import "assets/scss/nik-react-app.scss";

/* ************ write your own global scss here ********** */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: normal;


  /*
    @overflow
    Reasons:
        amplitude-test-component
            The reason i disabled this for making side hidden on small devices as i was
            only manipulating its 'left' property not 'display'.
  */
  overflow: hidden;
}

body, .animated, .modal-content{
  background: $primary-bg-color;
  /* background: linear-gradient(45deg, #344860 22%, #001a39 70%); */
  background: repeating-linear-gradient(45deg, #344860, #001a39 400px);
  color: $primary-color !important;
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  // font-family: Arial, Helvetica, sans-serif;

  @include browser-based-property(user-select, none);
}

/* 
  Purpose:
    used for showing app bootup animation.

  Usage: 
      <!-- animate -->
      <div class="animated overlay overlay-fixed sidebar-overlay bg-primary">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <div
          class="spinner-grow text-info"
          style="width: 7rem; height: 7rem;"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

*/
.animated {
  // display: none; opacity: 0;
  z-index: $z-app-load;
  transition: opacity 2s;
  @include browser-based-property(animation, fadeInFromNone 0.5s ease-out);

  .spinner-border {
    width: 8rem;
    border-top: none;
    border-bottom: none;
    border-width: 2px;
    height: 8rem;
  }
}

/* 
  material-Progress Bar (https://codepen.io/holdencreative/)
  Purpose:
    .
  Usage:
  
    <div class="material-progress bg-primary">
      <div class="indeterminate bg-secondary"></div>
    </div>

    <div class="material-progress bg-primary">
      <div class="determinate bg-secondary" style="width: 70%"></div>
    </div>    
*/
.material-progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.material-progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  transition: width 0.3s linear;
}
.material-progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.material-progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/* end: material-Progress Bar */

.custom-material-progress {
  z-index: $z-router-material-progress;
  position: fixed;
  top: 0;
  transition: opacity 1s;
}


router-outlet + *{
  display: block;
  @include browser-based-property(animation, fadeInFromNone 0.5s ease-out);
}

// router-outlet[parent] + *{
//   display: block;
//   @include browser-based-property(animation, slideInFromLeft 0.5s ease-out);
// }

/* 
See how dashboard->category->tests component look cool!!

@.card-status-container
@.card-status 
*/

.card {
  border: none;
  * {
    border: none;
  }
  .card-status-container {

    position: absolute;
    overflow: hidden;
    transform: rotate(-90deg);
    transition: transform 0.5s ease 0s;

    top: 20%;
    height: 22px;
    width: 22px;
    right: 20px;

    .card-status {
      position: relative;
      font-size: 42px;
      top: -21px;
      left: -5px;
    }
  }
}

.network-status-container {
  background: $primary-alpha;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: $z-router-material-progress - 1;
  display: none;
}

.btn-add {
  border-radius: 100%;
  font-size: 30px;
  padding: 0;
  line-height: 0px;
  width: 36px;
  height: 36px;
}

/***************************** shared code for admin and dashboard module */

/* Parent Component Code */

.sidebar {
  position: relative;
  top: (-$navbar-height);
  left: 0px;
  padding: 15px;
  width: $side-width-dashboard;
  z-index: $z-sidebar;
  overflow: hidden;

  // local variables
  $top-height: 150px;
  $list-group-height: calc(100vh - 150px);

  //transition
  // transform-origin: 0% 50%;
  transition: left 0.5s;
  .top {
    height: $top-height;
    padding: 15px;

    .navbar-brand {
      display: block;
      margin: 0px;
      padding-top: 20px;
      font-size: 35px;
    }
  }
  .list-group {
    $padding: 16px;
    height: $list-group-height;
    padding: $padding;
    overflow: auto;
    .list-group-item {
      margin-bottom: 5px;
      &:focus {
        outline: none;
      }
      &:hover {
        box-shadow: 0 0 5px black;
      }
    }
  }
}

.sidebar-closed {
  left: -$side-width-dashboard;
  position: absolute;
}


//navbar user dropdown
.user-dropdown {
  display: inline-block;
  .user-btn {
    border: none !important;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url(assets/img/no-user.png) center center / cover no-repeat !important;
  }
  .dropdown-toggle::after {
    border: none;
  }
  .dropdown-menu {
    font-size: 14px;
    right: 0px;
    left: initial;
    min-width: 12rem;
    & > *{
      margin-bottom: 3px;
      border-radius: 2px;
    }
    .user-name {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/* END - Parent Component Code */

/* tests Component Code */

.search {
  $input-width: 300px;
  $box-padding: 10px;
  $box-margin: 10px;
  $box-max-height: 400px;
  $box-z-index: 5;
  input {
    width: $input-width;
    outline: none;
  }
  .box {
    padding: $box-padding;
    max-height: $box-max-height;
    position: absolute;
    max-width: calc(100% - #{2 * $box-padding} - #{2 * $box-margin});
    min-width: $input-width;
    z-index: $box-z-index;
    margin-top: 2px;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        box-shadow: 0 0 5px black;
      }
    }
  }
}

/* END - tests Component Code */