<div class="d-flex align-items-center">
  <button
    type="button"
    class="btn btn-secondary btn-sm"
    (click)="questions.push(null)"
  >
    Add new Question
  </button>
  <span class="ml-auto p-1 mr-2">
    {{ questions.length }} question(s) added.
  </span>
  <div>
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="submit()"
      *ngIf="!submitting"
    >
      Submit
    </button>
    <div *ngIf="submitting" class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="backendError" class="mt-2">
  <pre class="text-secondary" style="text-align: end;margin: 0;">{{backendError}}</pre>
</div>

<hr />
<div class="page-content">
  <div
    class="position-relative"
    *ngFor="let question of questions; let i = index"
  >
    <div
      class="mcq-question-badge badge rounded-circle badge-secondary position-absolute"
      style="z-index: 2"
    >
      {{ i + 1}}
    </div>
    <button
      class="btn btn-danger btn-sm position-absolute right"
      style="top:8px;right: 16px;z-index: 2"
      (click)="removeQuestion(i)"
    >
      Remove
    </button>
    <app-question-editor
      [question]="question"
      [displayHeader]="false"
      [saveMode]="true"
      (savedQuestion)="saveQuestion(i, $event)"
      [testID]="testID"
    ></app-question-editor>
  </div>
</div>
