.card {
    width: 15rem;
    position: relative;
    .star-container {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 50px;
      display: flex;
      border-radius: 100%;
      height: 50px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .star {
        font-size: 34px;
      }
    }
    .card-img-top{
      max-height: 170px;
      object-fit: cover;
      max-width: 100%;
    }
  }
  