<div
  class="row no-gutters p-2 align-items-start text-center"
  *ngIf="categories"
  [ngClass]="categories.length == 1 ? 'justify-content-center' : 'justify-content-start'"
>
  <div *ngFor="let category of categories" class="card bg-primary m-2">
    <ng-container *ngIf="showFavourite">
      <div
        *ngIf="favourites && !settingStar; else settingStarStatus"
        class="bg-primary star-container"
        (click)="onStarClick(category._id)"
      >
        <ng-container *ngIf="isFavourite(category._id); else notFavourite">
          <span
            class="btn btn-primary text-secondary star"
            [innerHTML]="'&#9733;' | safeStyle: 'dom'"
          ></span>
        </ng-container>
        <ng-template #notFavourite>
          <span
            class="btn btn-primary text-info star"
            [innerHTML]="'&#9734;' | safeStyle: 'dom'"
          ></span>
        </ng-template>
      </div>
      <ng-template #settingStarStatus>
        <div class="bg-primary star-container">
          <div class="spinner-grow text-secondary" role="status"></div>
        </div>
      </ng-template>

    </ng-container>
    <img
      [src]="category.image?category.image:'assets/img/no-image-available.png'"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title text-secondary">{{ category.name }}</h5>
      <!-- <p class="card-text bg-info d-inline-block p-2 rounded-sm">
        {{ category.tests.length }} test{{
          category.tests.length == 1 ? "" : "'s"
        }}
      </p> -->
      <p class="card-text">
        <small class=""
          >Last updated: {{ category.lastUpdated | date: "mediumDate" }}
        </small>
      </p>
      <button
        class="btn btn-secondary btn-sm mr-3"
        data-toggle="modal"
        data-target="#syllabusModal"
        (click)="syllabusHTML = category.syllabus"
      >
        Syllabus
      </button>
      <a
        [routerLink]="[directingLink(category._id)]"
        class="btn btn-secondary btn-sm"
        >{{ directingLabel }}</a
      >
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="syllabusModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="syllabusModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-info">
      <div class="modal-header">
        <h4 class="modal-title" id="syllabusModalTitle">Syllabus</h4>
      </div>
      <div
        class="modal-body"
        [innerHTML]="syllabusHTML | safeStyle: 'dom'"
      ></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
